@-webkit-keyframes gradientShift {
	0%   { background-position-x: 0px; }
    100% { background-position-x: 100px; }
}

@-moz-keyframes gradientShift {
	0%   { background-position: 0px 0; }
    100% { background-position: 100px 0; }
}
